3 observable trends:

    1. Male identifying people make up the vast majority of the players.
    2. Female identifying players tend to spend more than male identifying players per purchase. 
       However players identifying as Other or Non-Disclosed spend the most per purchase.
    3. Players in the age range of 20-24 years old make up 44% of the players the age groups listed.  
       players in the age range of 35-59 will the most per purchase per person.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="utf-8")
#preview the data frame
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#check total number of players
player_total = len(purchase_data["SN"].unique())
# player_total

In [3]:
#Create dataframe of total players
player_total_df = pd.DataFrame({"Total Players": [player_total]})
player_total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#check number of unique items
unique_items = len(purchase_data["Item ID"].unique())
# unique_items

In [5]:
#check average price of purchases
avg_price = purchase_data["Price"].mean()
# avg_price

In [6]:
#check total number of purchase
total_purchases = len(purchase_data["Purchase ID"].unique())
# total_purchases

In [7]:
#chek total revenue
total_revenue = purchase_data["Price"].sum()
# total_revenue

In [8]:
#create summary dataframe
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                       "Average Price": [avg_price],
                                       "Number of Purchases": [total_purchases],
                                       "Total Revenue": [total_revenue]})
#make sure df works before formatting
# purchasing_analysis_df

In [9]:
#format purchasing analysis data frame summary
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${0:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# count_gender = purchase_data["Gender"].count
# count_gender

In [11]:
#locate players that identify as male
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
# male_players.head()

In [12]:
#Count number of male identifying players
male_total = len(male_players["SN"].unique())
# male_total

In [13]:
#figure out the percentage of players that identify as male
male_percent = "{:.2f}%".format(male_total / player_total * 100)
# male_percent

In [14]:
#locate players that identify as female
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
# female_players.head()

In [15]:
#Count number of female identifying players
female_total = len(female_players["SN"].unique())
# female_total

In [16]:
#figure out the percentage of players that identify as female
female_percent = "{:.2f}%".format(female_total / player_total * 100)
# female_percent

In [17]:
#locate players that identify as other/nd
other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
# other_players.head()

In [18]:
#Count number of other/ND identifying players
other_total = len(other_players["SN"].unique())
# other_total

In [19]:
#figure out the percentage of players that identify as other/ND
other_percent = "{:.2f}%".format(other_total / player_total * 100)
# other_percent

In [20]:
#Summary DataFrame
gender_df = pd.DataFrame([{"Gender": "Male", "Total Count": male_total,
                          "Percentage of Players": male_percent},
                         {"Gender": "Female", "Total Count": female_total,
                         "Percentage of Players": female_percent},
                         {"Gender": "Other / Non-Disclosed", "Total Count": other_total,
                         "Percentage of Players": other_percent}], 
                        columns=["Gender", "Total Count", "Percentage of Players"])
#check if the df works
# gender_df

#format
gender_df = gender_df.set_index("Gender")
# gender_df
gender_df.index.name = None
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
# male purchases
male_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_purchases = len(male_purchase_data)
# male_purchases

#average purchase price of male players
avg_male_purch_price = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()
# avg_male_purch_price

#sum purchases by male indentifying players
total_male_purch_value = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()
# total_male_purch_value

In [22]:
# female purchases
female_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_purchases = len(female_purchase_data)
# female_purchases

#average purchase price of female players
avg_female_purch_price = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()
# avg_female_purch_price

#sum purchases by male indentifying players
total_female_purch_value = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()
# total_female_purch_value

In [23]:
#other purchases
other_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_purchases = len(other_purchase_data)
# other_purchases

#average purchase price of other players
avg_other_purch_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()
# avg_other_purch_price

#sum purchases by other indentifying players
total_other_purch_value = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()
# total_other_purch_value

In [24]:
#average purchase total per person by gender
avg_male_purch_total_person = total_male_purch_value / male_purchases
# avg_male_purch_total_person
avg_female_purch_total_person = total_female_purch_value / female_purchases
# avg_female_purch_total_person
avg_other_purch_total_person = total_other_purch_value / other_purchases
# avg_other_purch_total_person

In [25]:
#summary dataframe
gender_purchasing_analysis_df = pd.DataFrame([{
    "Gender": "Female", "Purchase Count": female_purchases, 
    "Average Purchase Price": "${:.2f}".format(avg_female_purch_price[0]), 
    "Total Purchase Value": "${:.2f}".format(total_female_purch_value[0]), 
    "Avg Total Purchase per Person": "${:.2f}".format(avg_female_purch_total_person[0])}, 
    {"Gender": "Male", "Purchase Count": male_purchases, 
     "Average Purchase Price": "${:.2f}".format(avg_male_purch_price[0]), 
     "Total Purchase Value": "${:,.2f}".format(total_male_purch_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_male_purch_total_person[0])}, 
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_purchases, 
     "Average Purchase Price": "${:.2f}".format(avg_other_purch_price[0]), 
     "Total Purchase Value": "${:.2f}".format(total_other_purch_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_other_purch_total_person[0])
    }], columns=["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

#check to see if summary df works
# gender_purchasing_analysis_df

In [26]:
#format summary df
gender_purchasing_analysis_df = gender_purchasing_analysis_df.set_index("Gender")
# gender_purchasing_analysis_df
gender_purchasing_analysis_df.index.name = None
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
#determine min/max of ages
# print(purchase_data["Age"].max())
# print(purchase_data["Age"].min())

In [28]:
#Make bins for ages and name them
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
# age_bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# bin_names

#Create column to put series
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=bin_names)

# purchase_data.head()

In [29]:
#groupby based on age group
age_group = purchase_data.groupby("Age Group")


#total players by age group
total_age = age_group["SN"].nunique()
total_age

#percentages by age group
percentage_age_group = round(total_age / player_total * 100,2)
percentage_age_group

#summary dataframe
age_demographic_df = pd.DataFrame({"Total Count": total_age,
                                   "Percentage of Players": percentage_age_group})

#check to see if df works before formatting
# age_demographics_df

age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("{0:,.2f}%".format)
age_demographic_df.index.name = None
age_demographic_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#Make and name bins - can copy from age demographics secton
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# group_names = len(group_names)
# group_names

In [31]:
#Create column to put series
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
# purchase_data.head()

In [32]:
# figure out purchase ount
purchase_count = age_group["SN"].count()
# purchase_count

In [33]:
#figure out average purchase price
avg_purchase_price = round(age_group["Price"].mean(),2)
# avg_purchase_price

In [34]:
#figure out total purchase value
total_purchase_value = round(age_group["Price"].sum(),2)
# total_purchase_value

In [35]:
#figure out average total purchase by age group
avg_total_purchase = round(total_purchase_value / total_age, 2)
# avg_total_purchase

In [36]:
#summary dataframe
age_purch_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": avg_purchase_price,
                                      "Total Purchase Value": total_purchase_value,
                                      "Avg Total Purchase per Person": avg_total_purchase
})

#check to see if df works before formatting
# age_purch_analysis_df

age_purch_analysis_df["Average Purchase Price"] = age_purch_analysis_df["Average Purchase Price"].map("${0:,.2f}".format)
# age_purch_analysis_df
age_purch_analysis_df["Total Purchase Value"] = age_purch_analysis_df["Total Purchase Value"].map("${0:,.2f}".format)
# age_purch_analysis_df
age_purch_analysis_df["Avg Total Purchase per Person"] = age_purch_analysis_df["Avg Total Purchase per Person"].map("${0:,.2f}".format)
age_purch_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
#find top 5 spenders by total purchase value and group by SN
top_five_spenders = purchase_data.groupby("SN")
# top_five_spenders

In [38]:
#purchase count
purchase_count = top_five_spenders["Purchase ID"].count()
# purchase_count

In [39]:
#avg purchase price
avg_purchase_price = round(top_five_spenders["Price"].mean(),2)
# avg_purchase_price

In [40]:
#total purchase value
total_purchase_value = top_five_spenders["Price"].sum()
# total_purchase_value

In [41]:
#summary datafram
top_five_spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": total_purchase_value})
#check if df works
# top_five_spenders_df

sort_top_five_spenders = top_five_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
# sort_top_five_spenders
sort_top_five_spenders["Average Purchase Price"] = sort_top_five_spenders["Average Purchase Price"].astype(float).map("${:,.2f}".format)
# sort_top_five_spenders
sort_top_five_spenders["Total Purchase Value"] = sort_top_five_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)
sort_top_five_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
#find most popular items
list_of_pop_items = purchase_data[["Item ID", "Item Name", "Price"]]
# list_of_pop_items.head()

In [43]:
#Group by Item ID and Item Name
pop_items = list_of_pop_items.groupby(["Item ID", "Item Name"])

In [44]:
#purchase count
item_purch_count = pop_items["Price"].count()
# item_purch_count.head()

In [45]:
#item price
item_price = pop_items["Price"].sum()
# item_price.head()

In [46]:
#total purchase value
item_purch_value = item_price / item_purch_count
# item_purch_value.head()

In [53]:
#summary dataframe
five_most_popular_items = pd.DataFrame({"Purchase Count": item_purch_count,
                                       "Item Price": item_purch_value,
                                       "Total Purchase Value": item_price})
#check if df works before formatting
five_most_popular_items.head()

five_most_popular_items_df = five_most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
# five_most_popular_items_df
five_most_popular_items_df["Item Price"] = five_most_popular_items_df["Item Price"].astype(float).map("${:,.2f}".format)
# five_most_popular_items_df
five_most_popular_items_df["Total Purchase Value"] = five_most_popular_items_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
five_most_popular_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [54]:
five_most_popular_items_df = five_most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
# five_most_popular_items_df
five_most_popular_items_df["Item Price"] = five_most_popular_items_df["Item Price"].astype(float).map("${:,.2f}".format)
# five_most_popular_items_df
five_most_popular_items_df["Total Purchase Value"] = five_most_popular_items_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
five_most_popular_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80